body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #8ECAE6;
    color: #023047;
    border-bottom: 6px solid #FB8500;
}

.border-blue {
    border: 1px dotted rgb(47, 47, 230);
}
